numpy
scipy
matplotlib
pandas
seaborn
jupyter
jupyterlab
ipykernel
ipywidgets==6.0.0
https://iweb.dl.sourceforge.net/project/minfx/1.0.12/minfx-1.0.12.tar.gz
https://iweb.dl.sourceforge.net/project/bmrblib/1.0.4/bmrblib-1.0.4.tar.gz
https://github.com/jjhelmus/nmrglue/releases/download/v0.6/nmrglue-0.6.tar.gz